@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  background-color: #ced6e0;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:fit-content;
  min-width: 35rem;
  max-width: 35rem;
  padding: 0rem 2rem;
  border-radius: 2rem;
  background-color: #00000018;
  border: 0.1rem solid rgb(255, 255, 255);
  box-shadow: 0.1rem 0.1rem rgb(0, 0, 0);
  padding-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  color: rgb(3, 95, 3);
  width: fit-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.questions {
  margin-bottom: 0.5rem;
}

.question {
  color: rgb(7, 59, 7);
  font-size: 1.8rem;
  font-weight: 500;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.option {
  height: fit-content;
  outline: none;
  width: 100%;
  margin: 0.4rem 0;
  border: 0.12rem solid white;
  border-radius: 0.5rem;
  letter-spacing: 0.03rem;
  background-color: transparent;
  font-size: 1.45rem;
  font-weight: 500;
  text-align: left;
  line-height: 2.2rem;
  padding-block:0.5rem;
  padding-inline-start: 1rem;
  color: rgb(3, 32, 3);
}
.option:hover:not([disabled]) {
  
  border: 0.12rem solid white;
  border-radius: 0.5rem;
  background-color:rgba(17, 9, 9, 0.87);
  font-size: 1.35rem;
  font-weight: 50;
  text-align: left;
  padding-inline-start: 1rem;
  color: rgb(231, 227, 227);
  
}
.option:disabled{
  cursor:no-drop;
}

.next {
  border-radius: 0.5rem;
  background-color: transparent;
  font-size: 1.45rem;
  margin-bottom: 1.5rem;
  max-width: 6rem;
  text-align: center;
  align-self: center;
  padding: 0.5rem 0.9rem;
  border: 0.125rem solid rgb(44, 43, 43);
  color: rgb(0, 0, 0);
  box-shadow: 0.15rem 0.15rem rgb(0, 0, 0);
}

.next:hover {
  transform: scale(1.015);
}

.border-green {
  border: 0.125rem solid rgb(3, 95, 3);
}

.border-red {
  border: 0.125rem solid red;
}


.result {
  font-size: 2rem;
  text-align: center;
  color: rgb(3, 95, 3);
}
